@media screen and (max-width:600px) {

  /* nav section */
  .nav-items-container {
    display: none;
  }
  #hamburger-icon{
    display: block;
  }
  /* banner section styles */
  .banner-info {
    padding: 20px;
  }
  .banner-title {
    font-size: 32px;
    margin-top: 50px;
    font-weight: 800;
  }
  .banner-description {
    text-align: center;
  }
  .banner-form {
    flex-direction: column;
    margin-left: 140px;
    margin-right: 140px;
  }
  /* popular tours section */
  .tour-section {
    flex-direction: column;
    padding: 20px;
  }
  .tour-text-container {
    width: 100%;
  }
  .tour-image-container {
    width: 100%;
  }
  /* destination section styles */
  .destination-section{
    margin: 24px 20px;
  }
  .first-row {
    flex-direction: column;
  }
  .second-row {
    flex-direction: column;
  }
  .third-row {
    flex-direction: column;
  }
  /* bonus section */
  .bonus-section {
    margin: 20px;
    flex-direction: column-reverse;
  }
  .bonus-image-container {
    width: 100%;
  }  
  .bonus-text-container {
    width: 100%;
    margin-bottom: 10px;
  }
  /* why choose us */
  .choose-section{
    margin: 24px 20px;
  }
  /* newsletter section */
  .newsletter-section {
    flex-direction: column;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .newsletter-info-container {
    width: 100%;
  }

  .newsletter-img-container {
    width: 100%;
  }

  .discount {
    left: 140px;
    bottom: 50px;
  }

  /* footer section  */
  .footer-section {
    justify-content: center;
    padding: 20px;
  }

  hr {
    width: 100%;
  }

  .footer-description {
    margin-top: 25px;
    text-align: center;
    padding: 5px;
  }
  .copyright {
    padding-bottom: 100px;
  }
}